* {
    box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #06080D;
}

/* Navigation Bar */


@primary: #fd6b21; 



ul.topnav {
    line-height: 1.15;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #254441;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 700;
    font-size: 17px;
}

ul.topnav li a:hover {
    background: rgba(0, 0, 0, 0.15) !important;
    color: #FFFFFF !important;
    text-shadow: 1px 1px 1px #06080D;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width: 680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        background: #9C1737;
        display: block;
        text-align: left;
    }
}

/* Masthead Header */

#masthead {
    background: #0F2A56;
    background-image: url("../img/cal.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    width: 90%;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.email {
    margin-bottom: 20px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.header a:hover {
    color: #FFD000;
    text-shadow: 1px 1px 1px #06080D;
}

.contact-list {
    padding: 0;
    margin: 0;
}

ul.contact-list i {
    color: #FFFFFF;
    display: inline-block;
    list-style: none;
    font-size: 38px;
    width: 60px;
    height: 60px;
    margin: 0.5%;
    border: 0;
    border-radius: 4px;
    line-height: 60px;
    transition: background 0.2s linear 0s;
}

ul.contact-list i:hover {
    color: #ADFF2F;
    background: rgba(0, 0, 0, 0.25);
}


/* About Section */

#about {
    background: #EF3054;
    min-height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    text-align: left;
}

a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.container {
    max-width: 67.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 10px 5em;
}

.container, .profile, {
    clear: both;
    content: "";
    display: table;
}

.profile {
    padding-bottom: 1em;
}

.picture {
    float: left;
    display: block;
    width: 25%;
}

.my-picture {
    display: block;
    width: 250px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    background: no-repeat center center;
    border-radius: 99em;
    
}

.biography {
    float: center;
    width: 100%;
    text-align: left;
}

.biography p {
    margin: 0;

    font-size: 23px;
}





@media screen and (max-width: 740px) {
    .picture {
        width: 100%;
    }

    .biography {
        width: 100%;
    }

    .biography p {
        margin: 0 4%;
        text-align: center;
    }

  

    
}



/* Projects Section */

#projects {
    background: #43AA8B;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    width: 100%;
    margin-bottom: 2em;
}

.details h2 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
}

.details p {
    font-size: 15px;
}

.gallery ul {
    margin: 0;
    
    
}

.project {
    display: inline-block;
    width: 25%;
    margin: 0 20px 40px;
    min-width: 300px;
    min-height: 280px;
}

@media screen and (max-width: 600px) {
    .project {
        width: inherit;
        margin: 0 0 40px;
    }
}

.project a {
    display: block;
}

a.img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #06080D;
    height: 200px;
    z-index: 10;
    overflow: hidden;
}

a.img img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    left: 0;
    min-height: 200px;
    max-width: 300px;
    width: 100%;
    z-index: 10;
}

a.info {
    font-size: 18px;
    text-align: left;
    color: #06080D;
    background: rgba(255, 255, 255, 0.25);
    bottom: 0;
    display: inline-block;
    width: 300px;
    max-height: 51px;
    padding: 50px 15px 60px 15px;
    position: relative;
    transition: all 1s;
}

a.info p {
    position: absolute;
}

a.info p:first-child {
    top: 7px;
}

a.info p:nth-child(2) {
    font-size: 14px;
    top: 35px;
    padding-right: 15px;
}

a.img img:hover {
    opacity: 1;
    animation: flash 1.5s;
}

@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

a.info:hover {
    background: rgba(255, 255, 255, 0.65);
}

/* Footer Section */

#footer {
    background: #B2B09B;
    min-height: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
}

.contacts ul {
    
    
    padding: 3px;
}

.contact {
    display: inline;
    width: 25%;
    min-width: 340px;
    text-align: left;
    padding-left: 6%;
}

.contact a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.contact a:hover {
    color: #ADFF2F;
    font-weight: 700;
    text-shadow: 1px 1px 1px #06080D;
}

.contact a:hover i {
    color: #ADFF2F;
}

.contact i {
    display: inline-block;
    list-style: none;
    font-size: 38px;
    width: 60px;
    height: 60px;
    margin: 0.5%;
    border: 0;
    border-radius: 4px;
    line-height: 60px;
    transition: background 0.2s linear 0s;
}


.contact i:hover {
    opacity: 0.5;
    color: #FFD000;
    background: rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 705px) {
    .contact-info {
        display: none;
    }

    .contact {
        text-align: center;
        margin-top: 10px;
        padding: 0;
        min-width: inherit;
        width: 30%;
    }
}